InheritParentConfig: true
Checks:
  - '-*'
  - 'clang-analyzer-*'
  - 'cert-*'
  - 'bugprone-*'
  - 'modernize-*'
  - '-modernize-use-trailing-return-type'
  - '-modernize-use-using'
  - 'performance-*'
  - '-performance-enum-size'
  - 'portability-*'
  - 'readability-*'
  - '-readability-magic-numbers'
  - '-readability-inconsistent-declaration-parameter-name'
  - '-bugprone-easily-swappable-parameters'
