Checks: '-*,clang-analyzer-*,cert-*,bugprone-*,modernize-*,performance-*,portability-*,readability-*,-header-filter=.*'
CheckOptions:
    - key: bugprone-argument-comment.StrictMode
      value: 1
    - key:   readability-identifier-length.IgnoredVariableNames
      value: 'x|y|z|m|n'
    - key:   readability-identifier-length.IgnoredLoopCounterNames
      value: 'i|j|k|x|y|z|m'
FormatStyle: 'file'
HeaderFileExtensions:         ['', 'h','hpp']
ImplementationFileExtensions: ['c','cpp']
