Checks: '-*,clang-analyzer-*,cert-*,bugprone-*,modernize-*,performance-*,portability-*,readability-*,-header-filter=.*'
CheckOptions:
    - key: bugprone-argument-comment.StrictMode
      value: 1
FormatStyle: 'file'
HeaderFileExtensions:         ['', 'h','hpp']
ImplementationFileExtensions: ['c','cpp']
