Bas Couwenberg <sebastic@xs4all.nl>
Benoit De Mezzo <benoit.de.mezzo@oslandia.com>
Bruno Friedmann <bruno@ioda-net.ch>
Daniel Cumberbatch <daniel.cumberbatch1@gmail.com>
Darafei Praliaskouski <me@komzpa.net>
Dave Chambers <dave.chambers@1spatial.com>
Enrico Weigelt <info@metux.net>
Evren Pakyuz-Charrier <evrenpakyuzcharrier@gmail.com>
Giovanni Allegri <giohappy@gmail.com>
Hannes Janetzek <hannes.janetzek@zen.ly>
Hugo Mercier <hugo.mercier@oslandia.com>
Jean Felder <jean.felder@oslandia.com>
Jean Felder <jean.felder@oslandia.com> <jean.felder@gmail.com>
Kashif Rasul <kashif.rasul@gmail.com>
Ko Nagase <nagase@georepublic.co.jp>
Laurent Rineau <laurent.rineau@cgal.org>
Loïc Bartoletti <loic.bartoletti@oslandia.com>
Loïc Bartoletti <loic.bartoletti@oslandia.com> <l.bartoletti@free.fr>
Loïc Bartoletti <loic.bartoletti@oslandia.com> <lbartoletti@tuxfamily.org>
Loïc Bartoletti <loic.bartoletti@oslandia.com> <lbartoletti@users.noreply.github.com>
Mickael Borne <mickael.borne@ign.fr>
Mickael Borne <mickael.borne@ign.fr> <mick25390@gmail.com>
Mickael Borne <mickael.borne@ign.fr> <mick25390@hotmail.fr>
Mickael Borne <mickael.borne@ign.fr> mborne@users.noreply.github.com
Matthieu Viry <matthieu.viry@cnrs.fr>
Matthias Uden <matthias.uden@heidelberg-mobil.com>
Olivier Courtin <olivier.courtin@oslandia.com>
Pierre-Éric Pelloux-Prayer <pierre-eric.pelloux-prayer@oslandia.com>
Raphaël Delhome <raphael.delhome@oslandia.com>
Regina Obe <lr@pcorp.us>
Sandro Santilli <strk@keybit.net>
Sébastien Loriot <sebastien.loriot@cgal.org>
Stephen Mather <stephen@smathermather.com>
Sven Geggus <sven-git@geggus.net>
Vincent Mora <vincent.mora@oslandia.com>
Vincent Picavet <vincent.picavet@oslandia.com>
